@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

/*Header*/


.Head {
  background-color: rgb(72, 148, 88);
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
;
}

.Marca {
  width: 30%;
  align-items: flex-end;
}


.Redes {
    margin: 5px;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

@media (max-width:630px) {
  .Head {
  
      display: inline-flexbox;
      flex-wrap: wrap;
  }
  .Marca {
    width: 100%;
  }
  .Redes {
    width: 45%;
  }
}

@media (max-width:350px) {
  .Marca {
    width: 100%;
  }
  .Redes {
    width: 100%;
    justify-content: flex-start;
  }
}

.desvanecer:hover {
  opacity: 0.07;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms; }

.NavList {
  list-style: none;
  background-color: rgb(98, 175, 115); ;
  padding-bottom: 1px;
  text-align: center;
}
.NavList ul li {
  display: inline-block;
  padding: 20px;
  transition: all ease-in-out 250ms;
  }
.NavList ul li a {
  text-decoration: none;
  color: white;
  
}

.NavList ul li:hover {
  background:rgb(72, 148, 88); ;
}

.Hide { 
  font-size: 22px;
  padding: 16px;
  background-color: rgb(72, 148, 88) ;
  color: white;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 600px) {
    .NavList ul li { 
    width: 100%;
    padding: 16px;
    text-align: left;
  }
  .NavList ul {
    display: none;
  }
  .Hide {
    display: block;
  }
}

/*BODY*/



.Carrusel {
  width: 100%; }

/*Textos*/
a {
  color: #16114b; }

.textoLogo {
  color: #0f0b38;
  text-shadow: 2px 2px 3px white;
  font-family: 'Fredoka One', cursive;
  font-family: 'Righteous', cursive; }
  .textoLogo a {
    color: #16114b; }



span {
  font-size: 3em;
  font-family: serif; }



  h2 {
    font-family: 'PT Sans', sans-serif;
  }

/*CARDS*/
.CardsSombra {
  box-shadow: 2px 2px 2px 2px grey;
  width: 18rem; }

/*Secciones*/

.FondoIntercalado {
  background-color: #afdaaf;
}

.altura {
  height: 70vh;
}

.altura2 {
  height: 100%;
}

/*Contacto*/

#FondoContacto {
  background-image: url(/imagen/FondoContacto.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  height: 110vh;
  padding-top: 30px;
}

#FondoContacto form  {
  width: 450px;
  margin: auto;
  background: rgba(0,0,0, 0.3);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
}

#FormContacto form h2 {
  color: #ffff;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

section input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}

textarea {
  min-height: 100px;
  max-height: 200px;
}

@media (max-width:480px) {
  #FormContacto {
    width:100% ;
  }
  
}


/*Nosotros*/


.Nosotros {
  font-family: 'Poppins'; }

.FlexNosotros {
  display: flex;

}


.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
 }
.contenedor h2 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #4c944c;
  width: 30%;
  font-family: 'PT Sans', sans-serif; }
}
 
 .contenedor div 
  
@media screen and (max-width: 770px) {
  .categorias {
    margin-bottom: 30px; }
  .altura {
    height: 100vh;
  } 
  .altura2{
     height: 60%;
  }
  .alineado {
    justify-content: start;
  }
  }
  

  